<div class="header-logo" [ngClass]="{'layout-admin-collapsed': collapsedService.collapsed}">
  <a [routerLink]="['/']" class="header-logo-link">
    <img src="./assets/logo-full.svg" alt="" style="max-height:40px;" *ngIf="!collapsedService.collapsed"/>
    <img src="./assets/logo.svg" alt="" style="max-height:30px;" *ngIf="collapsedService.collapsed"/>
  </a>
</div>

<div class="nav-wrap">
  <ul class="nav">
    <li>
      <div class="nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon type="menu-{{collapsedService.collapsed ? 'unfold' : 'fold'}}"></i>
      </div>
    </li>
  </ul>

  <ul class="nav">
    <li>
      <nz-dropdown [nzPlacement]="'bottomRight'">
        <div class="nav-item user-item" nz-dropdown>
          <nz-avatar class="mr-sm" [nzSize]="'small'">
            <img src="./assets/img/avatar.jpg" alt="">
          </nz-avatar>
          Admin
        </div>

        <ul nz-menu>
          <li nz-menu-item>
            <i nz-icon type="user" class="mr-sm"></i>
            个人中心
          </li>
          <li nz-menu-item>
            <i nz-icon type="edit" class="mr-sm"></i>
            修改密码
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item>
            <i nz-icon type="logout" class="mr-sm"></i>
            退出登录
          </li>
        </ul>

      </nz-dropdown>
    </li>
  </ul>

</div>
